/* Styles for the Advanced Markup assignment. */
nav ul li { 
	display: inline; 
}
.active {
	font-weight: bold		
}
#sidebar {
	width:200px;
	float: right;
	background-color: olivedrab;
	padding: 10px;
	margin: 10px;
	
div {
    float: left;
    width: 250px;
    margin: 0 0 15px 20px;
    padding: 15px;
    border: 5px solid blue;
    text-align: center;
}
img {
    float: left;
	height: 200px;
}

.poem {
	list-style: none;
	font-style: normal; 
	line-height: 200%; 
	font-family: ariel;
	
	
}
.bibliography {
	list-style: none; 
}
