/* Styles for the Advanced Markup assignment. */
nav ul li {
	display: inline;
	list-style: none;
}
div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
dl {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1;
    margin-right: 1;
}
	

.active {
	font-weight: bold
}

#sidebar {
	width: 200px;
	float: right;
	background-color: olivedrab;
	padding: 10px;
	margin: 10px;
}
	#bio-photo {
    float: left;
	height: 150px;
}

.poem {
	list-style: none;
	font-style: normal;
	line-height: 200%;
	font-family: ariel;
	font-size: 20px;
}

.bibliography {
	list-style: none;
}

table, th, td {
	border: 1px solid black;
}


